<p id="notice"><%= notice %></p>
<div> app_key: <%= @log.app_key %> </div>
<div>admin user id: <%= @log.admin_user_id %></div>
<div>activity type id: <%= @log.activity_type_id %></div>
|
<%= link_to 'Back', logs_path %>
